@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url(style/reset.css);
@import url(style/header.css);
@import url(style/main.css);
:root{
  --laranja:#E04100;
  --branco:#FFFFFF;
  --fonte--titulo:"Russo One", sans-serif;
  --fonte--texto:"Exo 2", sans-serif;
}
*{
  font-family: var(--fonte--texto);
}

img{ 
  width: 20px; 
}